@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.images-carousel {
	position: relative;
	padding: size(50px) 0;

	&__controls {
		width: 100%;
		max-width: size(1400px);
		display: flex;
		justify-content: space-between;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 0 3%;
		z-index: 30;

		&-control {
			background-color: $apricot-secondary-yellow;
			color: $dark-gray;
			border: none;
			height: size(60px);
			width: size(60px);
			border-radius: 50%;
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);

			> span {
				font-size: size(40px);
				line-height: 1;
				height: size(40px);
			}
		}

		&-control:active {
			transform: scale(1.1);
		}

		&-control:focus {
			box-shadow: 0 0 10px rgba(51, 51, 51, 0.5);
		}

		&-control:hover {
			background-color: $dark-gray;
			color: $apricot-secondary-yellow;
		}
	}

	&__items {
		display: flex;
		width: 85%;
		max-width: size(630px);
		max-height: size(500px);
		min-height: size(500px);
		border-radius: size(10px);
		margin-left: auto;
		margin-right: auto;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
		position: relative;
	}
}

.carousel-item {
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: size(10px);
	z-index: 20;
	position: relative;

	&__image-container {
		width: 100%;
		height: size(500px);
		overflow: hidden;
		display: flex;
		padding: 0;
		justify-content: center;
		align-items: center;
	}

	&__image-tag {
		width: auto;
		height: 100%;
		display: block;
		object-fit: contain;
		object-position: center center;
	}

	&__caption {
		position: absolute;
		bottom: 5%;
		left: 50%;
		transform: translateX(-50%);
		border-radius: size(10px);
		background-color: rgba(0, 0, 0, 0.6);
		width: 90%;

		&-title {
			max-width: 100%;
			text-align: center;
			font-size: size(28px);
			color: $white;
		}

		&-link {
			display: block;
			max-width: 100%;
			padding: size(7px);
			color: $white;
			border-radius: size(10px);
		}

		&-link:focus {
			outline-style: none;
			box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.7);
		}
	}
}

.side-slide {
	position: absolute;
	left: 50%;
	bottom: 50%;
	transform: translate(-65%, 50%);
	height: size(400px);
	min-height: size(400px);
	min-width: size(630px);
	overflow: hidden;
	z-index: 10;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
	border-radius: size(10px);
	opacity: 0.92;

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
	}
}

.--right {
	background-color: rebeccapurple;
	right: 50%;
	bottom: 50%;
	transform: translate(65%, 50%);
	left: initial;
}
