/* Font names */
$roboto-regular: "Roboto-Regular";
$roboto-medium: "Roboto-Medium";
$roboto-bold: "Roboto-Bold";
$roboto-bolder: "Roboto-Bolder";

/* Font sizes */
$header-one: 1.7rem;
$header-two: 1.45rem;
$header-three: 1.3;
$header-four: 1.2;

$link-big: 1.2rem;
$link-small: 1rem;

$button-text: 1.2rem;

/* Colors */
$white: #ffffff;
$primary-soft-gold: #e9c46a;
$apricot-secondary-yellow: #f4a261;
$salmon-terciary: #e76f51;
$light-gray: #f2f2f2;
$cool-gray: #6d6875;
$soft-green: #a5d296;
$dark-brown: #2d2520;

/* Media quieries */
$media-xs: 557px;
$media-sm: 767px;
$media-md: 991px;
$media-lg: 1199px;
