@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.how-help {
	padding: size(60px) size(20px);

	&__title {
		text-align: center;
		padding-bottom: size(20px);
		font-family: $roboto-bold;
		text-transform: capitalize;

		@include respond-to($media-sm) {
			font-size: (28px);
			padding-bottom: size(30px);
		}

		@include respond-to($media-lg) {
			font-size: (34px);
		}
	}

	&__description {
		text-align: center;
		max-width: size(800px);
		margin-left: auto;
		margin-right: auto;
		padding-bottom: size(30px);

		@include respond-to($media-sm) {
			font-size: (18px);
		}

		@include respond-to($media-lg) {
			padding-bottom: size(50px);
		}
	}

	&__container {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: size(30px);
	}
}

.help-card {
	width: 100%;
	border-radius: size(8px);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	overflow: hidden;
	background-color: $white;

	@include respond-to($media-sm) {
		display: flex;
		max-width: size(800px);
	}

	@include respond-to($media-lg) {
		max-width: size(1100px);
	}

	&__container {
		width: 100%;
		height: size(180px);
		display: flex;
		justify-content: center;
		align-items: center;
		padding: size(20px);
		background-color: $primary-soft-gold;
		overflow: hidden;

		@include respond-to($media-sm) {
			width: size(250px);
			min-width: size(250px);
			height: 250px;
		}

		&-img {
			width: auto;
			height: 100%;

			@include respond-to($media-sm) {
				object-fit: cover;
			}
		}
	}

	&__info {
		padding: size(20px);
		display: flex;
		flex-direction: column;

		&-title {
			font-family: $roboto-bolder;
			font-size: size(22px);
			padding-bottom: size(10px);
			text-transform: capitalize;

			@include respond-to($media-sm) {
				font-size: size(26px);
			}
		}

		&-description {
			font-size: size(18px);

			@include respond-to($media-sm) {
				font-size: size(18px);
				max-height: size(120px);
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		&-cta {
			font-size: size(18px);
			padding: 0;
			margin-top: auto;
		}

		&-link {
			color: $black;
			padding-left: size(3px);
			font-size: size(20px);
			text-transform: capitalize;
			border-bottom: 1px solid $black;
		}
	}
}
